.container {
  margin-top: 20vh;
  margin-bottom: 5vh;
}

header {
  position: fixed;
  top: 0;
  height: 20vh;
  width: 100%;
  padding-left: 20px;
}

html,
body {
  font-family: "SF Pro Display, sans-serif";
}

.sidebar {
  width: 33vw;
  position: fixed;
}

.sidebar,
ul {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-around;
}

.content {
  margin-left: 20vw;
  width: 66vw;
  margin-bottom: 5vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  padding-right: 3px;
  width: 100%;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: darkgray;
}

.content,
ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  /* height: 10vh; */
  padding: 30px;
  overflow-y: scroll;
  /* display: flex; */
  /* align-items: center; */
}

.card:hover,
.active {
  width: 35%;
  background-color: #efefef;
  /* height: 25vh; */
}

.card-title {
  color: #c95252;
}

.card-title,
.description {
  padding: 10px;
  font-family: "iA Writer Duospace, monospace";
}

.card > * {
  padding-left: 10px;
}

.descriptors {
  display: flex;
  flex-wrap: wrap;
}

h1 > a {
  color: black;
}

.descriptors > div {
  width: 33%;
  padding-top: 5px;
}

.key {
  color: blue;
}
